*.bak.*
nvim/.config/nvim/lazy-lock.json
hypr/.config/hypr/shaders/
tmux/.config/tmux/plugins/*
omarchy/.config/omarchy/current/background
omarchy/.config/omarchy/current/theme
omarchy/.config/omarchy/backgrounds
omarchy/.config/omarchy/hooks
omarchy/.config/omarchy/themes
omarchy/.config/omarchy/themed
hypr/.config/hypr/.luarc.json
*.github
bin/.local/bin/bw
bin/.local/bin/claude
bin/.local/bin/codex
bin/.local/bin/copilot
bin/.local/bin/crush
bin/.local/bin/gemini
bin/.local/bin/gh
bin/.local/bin/ghui
bin/.local/bin/grok
bin/.local/bin/hunk
bin/.local/bin/launch_studio
bin/.local/bin/omp
bin/.local/bin/opencode
bin/.local/bin/pi
bin/.local/bin/playwright
